.competence{
    background-color: white;
    padding: 0px;
    border-radius: 6px;
    box-shadow: 1px 1px 6px 3px rgba(0,0,0,0.4);
    text-align: center;
    font-size: 10px;
}

.competences{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}
